<ion-view title="您的帐户">
  <ion-nav-buttons side="left">
    <button class="button icon-right button-clear button-white " ng-click="gotoList()"><i class="icon ion-ios7-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="true">
     <div class="profile-bg"></div>
      <div class="profile-content">
        <div class="profile-info">
          <img class="profile-image" src="img/winston.jpg">
          <h3 class="profile-name">小米</h3>
          <span class="profile-description">
            普通会员
          </span>
          </div>
        <div class="list">
          
        </div>

      </div>
  </ion-content>
</ion-view>
